html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'whitneySC';
  src: url('./assets/font/Whitney-BlackSC.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-BlackItalic.otf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-Bold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'whitneySC';
  src: url('./assets/font/Whitney-BoldSC.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-BoldItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'whitneySC';
  src: url('./assets/font/Whitney-SemiBoldSC.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-SemiBoldItalic.otf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'whitneySC';
  src: url('./assets/font/Whitney-MediumSC.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-Book.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'whitneySC';
  src: url('./assets/font/Whitney-BookSC.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-BookItalic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-Light.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'whitneySC';
  src: url('./assets/font/Whitney-LightSC.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'whitney';
  src: url('./assets/font/Whitney-LightItalic.otf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

html {
  background-color: white;
  color: #111;
  font-weight: 400;
  font-size: 18px;
  font-family: 'whitney';
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  border-top: 5px solid #111;
}


.header {
  font-size: 0;
  text-align: justify;
  border-bottom: 1px solid #ccc;
  padding: 0 48px;
}


.head::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.header-branding,
.header-navigation,
.header-newsletter {
  font-size: 18px;
  display: inline-block;
}

.header-branding {

  padding: 24px 0;
  font-size: 18px;
  font-weight: 600;

}

.header-navigation {
  font-size: 100px;
}

.header-menu {
  font-size: 0;
}

.header-menu-item {
  font-size: 15px;
  display: inline-block;
  margin: 0 15px;
  padding: 4px 0;
  border-bottom: 2px solid transparent;

}

.header-menu-item.active {
  color: blue;
  border-bottom: 2px solid blue;
}

.header-newsletter {

}

.active {
  color: blue;
}
